
<ion-content [fullscreen]="true">
<div class="center">
  <ion-card color="black">
    <img src="assets/videos.png" alt="logo">
    <ion-card-title class="ion-text-center">Vídeos App</ion-card-title>
    <ion-item lines="none" color="black">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]='email'></ion-input>
    </ion-item>
    <ion-item lines="none" color="black">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="senha" [(ngModel)]='senha'></ion-input>
    </ion-item>
    <ion-button expand="full" fill="outline" color="light" (click)="login()">Entrar</ion-button>
    <ion-button expand="full" fill="clear" color="light" (click)="registro()">Registrar</ion-button>
  </ion-card>
</div>
</ion-content>
