<ion-header [translucent]="true">
  <ion-toolbar color='dark'>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="oliva">

  <div class="container-fluid" color="oliva-light">

    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-list>

      <ion-item-sliding *ngFor="let filme of listaVideos">

        <ion-item lines="full" color="oliva-light">
          <ion-thumbnail slot="start">
            <img [src]="filme.cartaz"> <!--o atributo src entre colchetes utiliza a variável property binding-->
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1>{{filme.nome}}</h1>
              <p>{{filme.lancamento}} - {{filme.duracao}}</p>
              <ion-badge color="oliva-medium" *ngFor="let genero of filme.generos">{{genero}}</ion-badge>
            </div>
          </ion-label>
          <ion-chip color="success-dark">
            <ion-label  outline>{{filme.classificacao}}</ion-label>
          </ion-chip>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="oliva-medium" (click)="exibirAlertaFavorito()">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

  </div>

</ion-content>