<ion-header [translucent]="true">
  <ion-toolbar color='dark'>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="oliva">

  <div class="container-fluid" color="oliva-light">

    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-list>

      <ion-item-sliding>

        <ion-item lines="full" color="oliva-light">
          <ion-thumbnail slot="start">
            <img src="">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1></h1>
              <p></p>
              <p></p>
            </div>
          </ion-label>
          <ion-chip color="success-dark">
            <ion-label  outline>76</ion-label>
          </ion-chip>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="oliva-medium" (click)="exibirAlertaFavorito()">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>

        <ion-item lines="full" color="oliva-light">
          <ion-thumbnail slot="start">
            <img src="">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1></h1>
              <p></p>
              <p></p>
            </div>
          </ion-label>
          <ion-chip color="success-dark">
            <ion-label outline></ion-label>
          </ion-chip>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="oliva-medium" (click)="exibirAlertaFavorito()">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>

        <ion-item lines="full" color="oliva-light">
          <ion-thumbnail slot="start">
            <img src="">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1></h1>
              <p></p>
              <p></p>
            </div>
          </ion-label>
          <ion-chip color="success-dark">
            <ion-label outline></ion-label>
          </ion-chip>

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="oliva-medium" (click)="exibirAlertaFavorito()">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

  </div>

</ion-content>