<ion-header [translucent]="true">
  <ion-toolbar color='dark'>
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color='light'>

  <div class="container-fluid">

    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-list>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dkokENeY5Ka30BFgWAqk14mbnGs.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Pets Monstruosos (2021)</h1>
            <p>02/04/2021 - 6m</p>
            <p>Animação, Comédia, Fantasia</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>76</ion-label>
        </ion-chip>
        
      </ion-item>
    </ion-list>

  </div>

</ion-content>